
body {
    margin: 0;
    padding: 0;
    background:black;
    color:white;
}
/* #masthead {
    /* width: 100%;
    border-bottom: 2px solid black;
    overflow: auto;
    margin: 0 0 30px; 
}  */

.jumbotron h1 {
    font-size:80px;
    font-weight:bold;
    -webkit-text-stroke: 2px black;
    color:white;   
}
.jumbotron p {
    color:white;
    font-size:50px;
    font-weight:bold;
    -webkit-text-stroke: 2px black;
    position: relative;
}
body{
    font-family: "assets/fonts (1)/Titillium_Web;";
}

/* h1, .head {
    font-size: larger;
    text-align: center;
    padding:5px;
    margin:10px;
    
} */
.jumbotron{
    background-image: url("../images/crayonDrip.jpg");
    text-align: center;
    padding: 0%;
    margin-bottom: 0%;
    border-bottom: 1px solid green;
}

* {
    box-sizing: border-box;
}


.slider {
    width: 75%;
    margin: auto;
    padding:0;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: white;
}

.slick-slide {
    transition: all ease-in-out .3s;
    opacity: 1;
}

.slick-active {
    opacity: 1;
}

.slick-current {
    opacity: 1;
}

button {
    background-color:transparent;
    border: transparent;
}
#divForQuote {
    width: 100%;
    text-align: center;
    font-family: 'EB Garamond', serif;
    font-size: 30px; 
}
.gif {
    border-width: thick;
    margin: 10px;
    /* float: right; */
}

.container > div {
    display: inline-block;  
    margin-bottom: 0%;
}
#buttonDiv {
    text-align: center;
    display: inline;
}
#reset {
    font-size: 25px;
    background-color: rgb(112, 176, 30);
    float:right;
}
#chuck {
    font-size: 35px;
    background-color: aqua;
}
#chuckQuote {
    text-align: center;
    font-size: 35px;
}
#chuckPic {
    height: auto;
    /* align-self: auto; */
    /* margin-right: 600px; */
}
@media screen and (max-width: 768px){
    .wrapper {
       width: 100%;
         }
   .slider {
       width: 91%;
       }
   .jumbotron h1 {
       font-size:60px;
       }
   .jumbotron p {
       color:white;
       font-size:40px;
       }
   #divForQuote {
       font-size: 30px; 
       }
   #chuckQuote {
       text-align: center;
       font-size: 30px;
       margin-right:50px;       
       }
   #chuck {
       float:left;
       }
   .gif {
       max-width:200px;
       }
   }
   @media screen and (max-width: 320px){
    .wrapper {
       width: 100%;
         }
   .slider {
       width: 91%;
       }
   .jumbotron h1 {
       font-size:60px;
       }
   .jumbotron p {
       color:white;
       font-size:40px;
       }
    .gif {
       max-width:100px;
       }
   #divForQuote {
       font-size: 30px; 
       }
   #chuckQuote {
       text-align: center;
       font-size: 30px;
       margin-right:50px;       
       }
   #chuck {
       float:left;
       }
   
   }
/* Width at 168px and below */
@media screen and (max-width: 168px) and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {  
    
    .wrapper {
        max-width: 168px;
    }
    .container{
        margin:auto;
        padding:auto;
        max-width: 168px;
    }
    .slider {
        width: 91%;
           }
    .jumbotron h1 {
        font-size:40px;
           }
    .jumbotron p {
        color:white;
        font-size:30px;
           }
    #divForQuote {
        font-size: 30px; 
           }
    .gif {
        max-width:100px;
           }
    #chuckQuote {
        text-align: center;
        font-size: 30px;
        margin-right:50px;       
           }
    #chuck {
        float:left;
           }
    #reset{
        position:relative;
    }

       
    
}

